body {
    /* overflow-x: hidden; */
    font-family: 'Roboto';
    color: #324950;
    padding:0;
    margin: 0;
}
.container {
    max-width: 1920px;
    padding: 0 0;
    margin: 0 auto;
}
.header {
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #FFFAFA;
}
.menubtn {
    display: none;
    width: 10%;
}
.head {
    margin: 0 auto;
    padding-top: 20px;
    width: 58%;
    display: flex;
    justify-content: space-between;
}
.button {
    width: 75%;
    height: auto;
}
.logo {
    width: 100%;
    height: auto;
}
.LogoBlock {
    width: 20%;
}
.san{
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.search {
    width: 100%;
    height: 29px;
    border-bottom: solid 1px black;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: space-between;
    margin-left: auto;

}
.SearchInput{
    background: transparent;
    border: 0;
    width: 1100%;
}
.ico_search {
    margin: 3px 0;
    max-width: 100%;
    height: auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-shadow: 0 2px 20px;
    width: 100%;
    height:26px;
    padding: 0;
    margin-right: auto;
}
.NavigationItem {
    color: #324950;
}
a {
    color: #324950;
}
a:hover {
    color: #324950;
    text-decoration: none;
}
a.BottomLink {
    color: white;
}
/*  */
.banner {
    max-width: 100%;
    height: auto;
}
.middle {
    max-width: 1110px;
    width: 100%;
    margin: 20px auto;
}
.Title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 110px;
    max-width: 526px;
    width: 100%;
}
.TitleText {
    font-size: 44px;
    font-weight: bold;
}
.Block {
    margin: 20px 0;
}
.InputText {
    max-width: 350px;
    width: 100%;
    border-radius: 10px;
    border-color: #DADADA;
    height: 55px;
}
.InputTextSpec {
    max-width: 660px;
    width: 100%;
    border-radius: 10px;
    border-color: #DADADA;
    height: 390px;
}
.InputTextOther {
    max-width: 660px;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    border-color: #DADADA;
}
.SelectText {
    max-width: 660px;
    width: 100%;
    border-radius: 10px;
    border-color: #DADADA;
    height: 55px;
}
.captchablock {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.captcha {
    width: 99px;
    height: 27px;
}
.InputTextCaptcha {
    max-width: 225px;
    width: 100%;
    border-radius: 10px;
    border-color: #DADADA;
}
.SendButton {
    color: white;
    background-color: green;
    border-radius: 25px;
    max-width: 255px;
    width: 100%;
    border-color: transparent;
}
.FooterTop {
    margin: auto auto;
    background-color: #2D3F45;
}
.FooterTopBlock {
    margin: 0 auto;
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}
.FooterListItem {
    color: #FFFFFF;
    font-size: 16px;
}
.FooterBlock {
    margin: auto 0;
}
.FooterList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.FooterListSoc {
    width: 100%;
    display:flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style-type: none;
}
.footer {
    max-width: 1920px;
}
.FooterBottom {
    max-width: 1920px;
    height: 51px;
    background-color: #324950;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    font-size: 14px;
    color: #B9B9B9;
    margin: 0;
    padding: 0;
}
.right {
    width: 20%;
}
.left {
    width: 50%;
}
.text {
    font-size: 14px;
    color: #B9B9B9;
    margin: 0;
    padding: 0;
}
.union {
    max-width: 47px;
    width: 100%;
}
.SeedBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    justify-content: center;
    margin: 20px auto;
}
.SeedText {
    text-align: center;
    width: 241px;
    height: 52px;
    font-size: 18px;
}
.SeedTitle {
    color: green;
    font-size: 24px;
}
.Telephone {
    color: green;
}
a.Telephone {
    color: green;
}
a.Telephone:hover {
    color: green;
}