body {
    font-family: 'Roboto';
    color: #324950;
    padding:0;
    margin: 0;
}
.container {
    max-width: 1920px;
    padding: 0 0;
    margin: 0 auto;
}
.header {
    background-size: cover;
    height: 850px;
}
.menubtn {
    display: none;
    width: 10%;
}
.top-navigation{
    margin: 0 auto;
    padding-top: 20px;
    width: 58%;
    display: flex;
    justify-content: space-between;
}
.button {
    width: 75%;
    height: auto;
}
.logo {
    width: 100%;
    height: auto;
}
.LogoBlock {
    width: 20%;
}
.san{
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.search {
    width: 100%;
    height: 29px;
    border-bottom: solid 1px black;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: space-between;
    margin-left: auto;

}
.SearchInput{
    background: transparent;
    border: 0;
    width: 1100%;
}
.ico_search {
    margin: 3px 0;
    max-width: 100%;
    height: auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-shadow: 0 2px 20px;
    width: 100%;
    height:26px;
    padding: 0;
    margin-right: auto;
}
.NavigationItem {
    color: #324950;
}
a {
    color: #324950;
}
a:hover {
    color: #324950;
    text-decoration: none;
}
a.BottomLink {
    color: white;
}
/*  */