body {
    /* overflow-x: hidden; */
    font-family: 'Roboto';
    color: #324950;
    padding:0;
    margin: 0;
}
.container {
    max-width: 1920px;
    padding: 0 0;
    margin: 0 auto;
}
.header {
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #FFFAFA;
}
.menubtn {
    display: none;
    width: 10%;
}
.head {
    margin: 0 auto;
    padding-top: 20px;
    width: 58%;
    display: flex;
    justify-content: space-between;
}
.button {
    width: 75%;
    height: auto;
}
.logo {
    width: 100%;
    height: auto;
}
.LogoBlock {
    width: 20%;
}
.san{
    width: 45%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
}
.search {
    width: 100%;
    height: 29px;
    border-bottom: solid 1px black;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: space-between;
    margin-left: auto;

}
.SearchInput{
    background: transparent;
    border: 0;
    width: 1100%;
}
.ico_search {
    margin: 3px 0;
    max-width: 100%;
    height: auto;
}
.navigation{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-shadow: 0 2px 20px;
    width: 100%;
    height:26px;
    padding: 0;
    margin-right: auto;
}
.NavigationItem {
    color: #324950;
}
a {
    color: #324950;
}
a:hover {
    color: #324950;
    text-decoration: none;
}
a.BottomLink {
    color: white;
}
/*  */
.banner {
    max-width: 100%;
    height: auto;
}
.middle {
    max-width: 1130px;
    margin: 0 auto;
}
.Title{
    margin: 50px;
    font-size: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
}
.TitleText{
    margin: 0;
}
.union {
    width: 47px;
}
.paragraph {
    color: #324950;
    font-size: 17px;
}
.redline1 {
    margin-right: 24px;
}
.Block1 {
    display: flex;
    margin-bottom: 35px;

}
.Block1_Text {
    margin: auto 0;
}
.Block2 {
    height: auto;
    background-color: #FFFAFA;
    margin: 0 auto;
}
.blackline1 {
    margin: 25px 0;
    width: 100%;
    height: auto;
}
.Block2Text {
    font-size: 17px;
}
.Block2Title {
    font-size: 20px;
}
.Block3 {
    display: flex;
    margin-bottom: 35px;
}
.redline2 {
    margin-right: 24px;
}
.Block2_Text {
    margin: auto 0;
}
.Block4 {
    max-width: 90%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}
.BlockProduct {
    width: 90%;
    margin: 0;
}
.Block4_Image {
    width: 100%;
    height: auto;
}
.Block4_Text {
    text-align: center;
    color: #57984C;
    font-size: 20;
}
.row {
    max-width: 100%;
    margin: 0 auto;
}
.FooterTop {
    margin: auto auto;
    background-color: #2D3F45;
}
.FooterTopBlock {
    margin: 0 auto;
    width: 75%;
    height: auto;
    display: flex;
    justify-content: space-between;
    min-height: 100px;
}
.FooterListItem {
    color: #FFFFFF;
    font-size: 16px;
}
.FooterBlock {
    margin: auto 0;
}
.FooterList {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.FooterListSoc {
    width: 100%;
    display:flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    list-style-type: none;
}
.footer {
    max-width: 1920px;
}
.FooterBottom {
    max-width: 1920px;
    height: 51px;
    background-color: #324950;
    display: flex;
    align-items: center;
    justify-content: center;
}
.text {
    font-size: 14px;
    color: #B9B9B9;
    margin: 0;
    padding: 0;
}
.right {
    width: 20%;
}
.left {
    width: 50%;
}